/* general */
* {
	font-family: "Source Code Pro", monospace;
	font-size: 1em;
}

h1 {
	font-family: "Source Sans Pro", sans-serif;
	font-size: 3em;
	text-transform: uppercase;
}

body {
	margin: 25px;
}

/* chart */

.container {
	width: 100%;
}

.dots {
	pointer-events: all;
	opacity: 1;
}

.dots:hover {
	opacity: 0.5;
	/* width: 200%; */
}

.app {
	/* margin: auto; */
	margin-bottom: 2em;
	/* margin-top: 2em; */
	/* padding: 1em; */
}

.app .label {
	font-weight: 900;
}

.x-axis path {
	stroke: #fff;
	stroke-width: 0.5;
	shape-rendering: crispEdges;
}

.x-axis {
	font-size: 1em;
}

/* .y-axis path {
	stroke: #aaa;
	stroke-width: 0.5;
	shape-rendering: crispEdges;
} */

/* tooltip */
.tooltip {
	background: white;
	/* background: rgba(255, 255, 255, 0.95); */
	font-size: 0.8em;
	/* fill: red; */
	line-height: 1;
	padding: 0px;
	/* margin-bottom: 0em;
	margin-top: 0em; */
	border: 0px;
	/* border: 1px solid #dedede; */
	padding: 10px;
	/* positioning for top left! */
	/* position: relative;  */
	position: absolute;
	/* max-width: 200px; */
	/* opacity: 0.75; */
	/* visibility: hidden; */
}

.tooltip > h2 {
	font-size: 1em;
}

.hidden {
	display: none;
}

/* form */
input,
label {
	display: block;
	margin: 10px 0 0 0;
}

/* details */

#details,
#initial {
	margin-top: 2rem;
}

table {
	margin-bottom: 0;
}
td,
th {
	padding: 6px 9px;
	/* color: #aaa; */
}
td {
	text-align: left;
	color: #000;
}

table {
	text-align: left;
}

table .definition {
	font-size: 0.75em;
	color: #aaa;
	text-align: left;
	border-bottom: 1px solid #eee;
	padding-top: 0em;
	padding-bottom: 0.1em;
}

#close-details {
	color: black;
	text-decoration: none;
	/* font-size: 4rem; */
	/* text-align: right; */
	/* line-height: 4.5rem; */
}
#close-details:hover {
	color: 000;
}

/* colors */
.colors .c1 {
	fill: rgb(17, 54, 85);
}
.colors .c2 {
	fill: rgb(242, 140, 0);
}
.colors .c3 {
	fill: rgb(63, 140, 165);
}
.colors .c4 {
	fill: rgb(250, 184, 95);
}
.colors .c5 {
	fill: rgb(153, 212, 227);
}
.colors .c6 {
	fill: rgb(254, 208, 97);
}
